<div *ngIf="products?.length > 0; else nodata">
    <div *ngFor="let product of products" class="card card-outline-primary m-1">
        <div class="card-header">
            <span class="h3">
                    {{product.name}}

                </span>
                <img class="float-left" src="/images/{{product.image}}" alt="No product image is available." style="width:150px;height:150px;">
                <span class="float-right badge badge-pill badge-primary">
                    {{product.price | currency:"USD":true }}
                </span>
        </div>
        <div class="card-block">
            <button class="float-right btn btn-sm btn-success"
                    (click)="addToCart(product)">
                Add to Cart
            </button>
            <span class="card-text p-a-1"></span>
            <button class="float-left btn btn-primary btn-sm"
                    (click)="selectProduct(product.productId)">
                Show Product Details
            </button>
        </div>
    </div>
</div>
<ng-template #nodata>
    <h4 class="m-1">Waiting for data...</h4>
</ng-template>
